<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TOLL APPLICATION</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TollApp.styles.css" asp-append-version="true" />
       <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-white bg-warning border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-brand" >Toll Application</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/USER/List">Users</a>
                            </li>
                            
                               <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/OPERATOR/List">Operators</a>
                            </li>
                           
                               <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/TOLL/List"> Tolls</a>

                            </li>
                          
                                                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/OPERATOR/DisplayAllTransactions"><i class="fa fa-exchange" aria-hidden="true"></i>&nbsp; Transaction details</a>

                            </li>
                            
                           
                             <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Index" asp-route-action="logout"><i class="fa fa-power-off" aria-hidden="true"></i> &nbsp;Log Out</a>
                            </li>

                        }
                           @if (User.Identity.IsAuthenticated && User.IsInRole("Operator"))
                        {

                          
                            
                        }



                        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))


                         {




                               
                            <a  class="nav-link text-white" href="/Transaction/AddTransaction"  role="button">
                          <i class="fa fa-plus-square" aria-hidden="true"></i>
                                         Apply Pass
                                </a>

                            


                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/USER/UserTransactionList"> <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;Transaction Details</a>

                            </li>

                           



                             <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Index" asp-route-action="Logout"><i class="fa fa-power-off" aria-hidden="true"></i> &nbsp;Log Out</a>
                            </li>

                             <li class="nav-item">
                                @{
                                    var balance = Context.Session.GetInt32("Balance");
                                    if(balance != null)
                                    {
                                        <div>(@balance)</div>
                                    }
                                    else
                                    {
                                        <div>0</div>
                                    }
                                }
                            </li>


                            
                        }
                        
                        @if (!User.Identity.IsAuthenticated)

                        {

                              <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Index"><i class="fa fa-home" aria-hidden="true"></i>HOME</a>
                            </li>
                          <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Login"><i class="fa fa-sign-in" aria-hidden="true"></i> USER </a>

                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/LoginOp"><i class="fa-solid fa-user"></i> ADMIN </a>
                            </li>

                        }
                      
                       

       


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Toll Application - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>